@model IEnumerable<ElectionLand.Models.User>
@{
    ViewData["Title"] = "Статистика";
    Layout = "_Layout";
}
<h1>Статистика</h1>
<script src="~/js/site.js"></script>
<a asp-controller="Statistic" asp-action="Stata" asp-route-elections="1">Статистика виборів2019</a><br />
<a asp-controller="Statistic" asp-action="Stata" asp-route-elections="1" asp-route-canton="1">Статистика округу №1 виборів2019</a>
<br />
<a asp-controller="Statistic" asp-action="Stata" asp-route-elections="1" asp-route-canton="2">Статистика округу №2 виборів2019</a>
<br />
<a asp-controller="Statistic" asp-action="Stata" asp-route-elections="1" asp-route-canton="1" asp-route-district="1">Статистика дільниці №1 округу №1 виборів2019</a>
<br />
<a asp-controller="Statistic" asp-action="Stata" asp-route-elections="1" asp-route-canton="1" asp-route-district="2">Статистика дільниці №2 округу №1 виборів2019</a>
<br />
<a asp-controller="Statistic" asp-action="StataCanton" asp-route-elections="1" >Статистика по округах виборів2019</a>
@*<div>
    <div style="float:left">
        <div style="float:left">
            <h1>Інфа</h1>
        </div>
        <div class="aaaaa" id="div0">
        </div>
        <div class="aaaaa" id="div1" style="display:none">
            <table>
                @foreach (var i in Model)
                {
                    <tr>
                        <td>
                            <div>
                                <p>@i.LastName</p>
                                <p>@i.Login</p>
                                <p>@i.PIN</p>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="aaaaa" id="div2" style="display:none">
            <table>
                @foreach (var i in Model)
                {
                    <tr>
                        <td>
                            <div>
                                <p>@i.PIN</p>
                                <p>@i.Password</p>
                                <p>@i.LastName</p>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div style="float:right; margin-right:60px;">
        <a class="btn-right" onclick="openbox('div0'); return false">Вибори</a><br />
        <a class="btn-right" onclick="openbox('div1'); return false">Виборчі дільниці</a><br />
        <a class="btn-right" onclick="openbox('div2'); return false">Виборчі округи</a><br />
    </div>
</div>*@
