@model IEnumerable<ElectionLand.Models.Election>
@{
    ViewData["Title"] = "Вибори";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title></title>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

</head>
<body>
    <br />

    <!-- the content -->
    <div class="container">

        <div class="row">

            <br />
            <!-- Content -->
            <div>
                <div class="filter">
                    <button id="btn2" type="button" onclick="">search</button>
                    <div id="sort">
                        <div class="form-group">
                            <label>Sort By:</label>
                            <select id="input-sort" class="form-control" onchange="location = this.value;">
                                <option value="">Default</option>
                                <option value="">Name (A - Z)</option>
                                <option value="">Name (Z - A)</option>
                                <option value="">Year (Low &gt; High)</option>
                                <option value="">Year (High &gt; Low)</option>
                            </select>
                        </div>
                    </div>
                    <div id="show">
                        <div class="form-group ">
                            <label>Show:</label>
                            <select id="input-limit" class="form-control" onchange="location = this.value;">
                                <option value="">New</option>
                                <option value="">Active</option>
                                <option value="">Past</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="div-content">
                    @foreach (var item in Model)
                    {
                        <a asp-action="Election" asp-route-election_id="@item.Id">
                            <div class="element">
                                <div>

                                    <div class="tyt">
                                        <h4>@item.Title</h4>
                                        <p>@item.Year</p>
                                        <p>@item.StartElection -- @item.EndElection</p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    }
                </div>
            </div>
        </div>

</body>
</html>
