@model IEnumerable<BulletinModel>
@{
    ViewData["Title"] = "Вибори";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title></title>

    <link rel="stylesheet" href="~/css/bulleten.css" />

    <!------ Include the above in your HEAD tag ---------->

</head>
<body>
    <br />

    <main>
        <h1 class="H1" align="centre">Бюлетень</h1>


        <form asp-action="Bulletin" method="post" >
            <div class="funkyradio">
                @foreach (BulletinModel m in Model)
    {

            <div class="funkyradio-success">
                <input type="radio" name="radio" value="@m.candidate.Id" id="@m.candidate.Id">
                <label for="@m.candidate.Id">
                    @m.user.FirstName @m.user.LastName
                    @m.user.BirthDate.Year року народження
                </label>

            </div>
}

            <button class="button" style="vertical-align:middle"><span>Голосувати </span> </button>
            </div>
        </form>
        


            

            <p></p>

        </main>
</body>
</html>



