@model IEnumerable<ElectionLand.Models.User>
@{
   ViewData["Title"] = "Кабінет Виборця";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title></title>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

</head>
<body>


    <br />
    <div ><h1>               Кабінет виборця</h1></div>
    <div class="row">
        <div class="col-md-8">
            <div class="container emp-profile">
                <form method="post">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="profile-img">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Тризуб.svg/616px-Тризуб.svg.png" alt="Image
                                " />

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="profile-head">
                                @foreach (var item in Model){

                                    <h3>
                                        @Html.DisplayFor(model => item.FirstName, item.LastName)
                                        @Html.DisplayFor(model => item.LastName)
                                    </h3>

                                }



                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Інформація</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Вибори</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h3><a asp-action="Edite" asp-controller="Cabinet" class="badge badge-dark">Редагувати профіль</a></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            </div>
                         @foreach (var item in Model)
                         {

                                 <div class="col-md-6">
                                <div class="tab-content profile-tab" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>ІПН</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>@Html.DisplayFor(model => item.PIN)</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    @Html.DisplayFor(model => item.FirstName)
                                                    @Html.DisplayFor(model => item.LastName)
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    @Html.DisplayFor(model => item.Email)
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Date of Birth</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>@Html.DisplayFor(model => item.BirthDate)</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Ви належете до округу @ViewBag.DistrictTitle за адресою: @ViewBag.DistrictAddress </label>
                                            </div>
                                            <div class="col-md-6">
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">

                                        </div>


                                    </div>
                                </div>

                                
                        </div>}
                    </form>
            </div>
            </div>
        </div>
            <div class="col-md-3 ">
                <div class="list-group ">
                    <a asp-area="" class="list-group-item list-group-item-action " asp-controller="Home" asp-action="About"><h3>Вибори</h3></a>
                    <a asp-area="" class="list-group-item list-group-item-action " asp-controller="Home" asp-action="Contact"><h3>Округи</h3></a>
                    <a asp-area="" class="list-group-item list-group-item-action " asp-controller="Home" asp-action="Privacy"><h3>Дільниці</h3></a>

                    @*<a asp-area="" class="list-group-item list-group-item-action " asp-controller="Admin" asp-action="Create"><h3>Створити Вибори</h3></a>*@
                    <a href="#" class="list-group-item list-group-item-action "><h3>Результат</h3></a>
                    <a asp-area="" class="list-group-item list-group-item-action " asp-controller="Statistic" asp-action="Index"><h3>Статистика</h3></a>
                    <a href="#" class="list-group-item list-group-item-action "><h3>...</h3></a>

                </div>

        </div>
        </div>

</body>
</html>



