@model IEnumerable<ElectionLand.Models.StataDistrict>

@{
    ViewData["Title"] = "StataDistrict";
}

<div style="text-align:center">
    <h1>Статистика</h1>

    <h3>@ViewData["Message"]</h3>
</div>

<table class="bordered" width="80%" align="center">
    <thead>
        <tr>
            <th>
                Дільниця
            </th>
            <th>
                Кількість голосів
            </th>
            <th>
                Переможець
            </th>
            <th>
                Результат
            </th>
            <th>
                Рейтинг
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VirtualDistrict.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountVoice)
                </td>
                <td>
                    <a asp-controller="Statistic" asp-action="Candidate" asp-route-id="@item.CandidateId">
                        @Html.DisplayFor(modelItem => item.Candidate.User.FirstName)
                        @Html.DisplayFor(modelItem => item.Candidate.User.LastName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountVoiceCandidate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percent)%
                </td>
            </tr>
        }
        @if(Model.Count() <1)
        {
            <tr>
                <td colspan="5">
                    <h3>Немає дільниць на вибраному окрузі</h3>
                </td>
            </tr>
        }
    </tbody>
</table>