@model IEnumerable<ElectionLand.Models.Stata>

@{
    ViewData["Title"] = "Stata";
    Layout = "_Layout";
}

    <div style="text-align:center">
        <h1>Статистика</h1>

        <h3>@ViewData["Message"]</h3>
    </div>
    <div>
        <table class="bordered" width="80%" align="center">
            <thead>
                <tr>
                    <th width="40%">
                        <h5>Кандидат</h5>
                    </th>
                    <th width="30%">
                        <h5>Кількість голосів</h5>
                    </th>
                    <th width="30%">
                        <h5>Рейтинг</h5>
                    </th>
                    @if (ViewBag.isVisibleCountWinCanton)
                    {
                        <th width="30%">
                            <h5>Перемог по округах</h5>
                        </th>
                    }
                    @if (ViewBag.isVisibleCountWinDistrict)
                    {
                        <th width="30%">
                            <h5>Перемог по дільницях</h5>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-controller="Statistic" asp-action="Candidate" asp-route-id="@item.CandidateId">
                                @Html.DisplayFor(modelItem => item.Candidate.User.FirstName)
                                @Html.DisplayFor(modelItem => item.Candidate.User.LastName)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountVoiceCondidate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Percent)%
                        </td>
                        @if (ViewBag.isVisibleCountWinCanton)
                        {
                            <th>
                                @Html.DisplayFor(model => item.CountWinCanton)
                            </th>
                        }
                        @if (ViewBag.isVisibleCountWinDistrict)
                        {
                            <th>
                                @Html.DisplayFor(model => item.CountWinDistinc)
                            </th>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>