@model ElectionLand.Models.Election
@{
    ViewData["Title"] = "Election";
    Layout = "_Layout";
}

<h2>Election</h2>

<div>
    <div style="float:left">
        @if (ViewBag.UserStatusID == 0)
        {
            <h2>@ViewBag.UserStatusName</h2>
        }
        else
        {
            <h2>@ViewBag.StatusToUser.UserStatus.Title</h2>
        }
        <div>
            <h4></h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Year)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Year)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.StartElection)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StartElection)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EndElection)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EndElection)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ChairmanСVK)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ChairmanСVK)
                </dd>
            </dl>
            <button asp-controller="Statistic" asp-action="Stata" asp-route-election_id="@Model.Id">Оголосити остаточні результати</button>
        </div>
    </div>
    <div style="float:right; margin-right:60px;">
        <div class="list-group ">
            @*@if()*@
            <a class="list-group-item list-group-item-action " asp-controller="Home" asp-action="ElectionSave" asp-route-elections="@Model.Id"><h3>Оголосити остаточні результати</h3></a>
            <a class="list-group-item list-group-item-action " asp-controller="Home" asp-action="ShowCanton"><h3>Округи</h3></a>
            <a class="list-group-item list-group-item-action " asp-controller="Home" asp-action="ShowDistrict"><h3>Дільниці</h3></a>
            <a class="list-group-item list-group-item-action " asp-controller="Statistic" asp-action="Stata" asp-route-elections="@Model.Id"><h3>Результат</h3></a>
            <a class="list-group-item list-group-item-action " asp-controller="Statistic" asp-action="StataCanton" asp-route-elections="@Model.Id"><h3>Статистика по округах</h3></a>
            <a class="list-group-item list-group-item-action " asp-controller="Home" asp-action="CreateComplaint" asp-route-election_id="@Model.Id"><h3>Створити скаргу</h3></a>

            <a class="list-group-item list-group-item-action " asp-controller="Cabinet" asp-action="Bulletin"><h3>Голосувати</h3></a>

            <a class="list-group-item list-group-item-action " asp-action="ShowUsersDistrict" asp-controller="Home" asp-route-district_id="@ViewBag.VirtualDistinctId"><h3>Виборці дільниці</h3></a>
           @* <a asp-action="ShowUsersDistrict" asp-controller="Home" asp-route-district_id="@">виборці</a>*@


        </div>
    </div>
</div>

