@model IEnumerable<ElectionLand.Models.VirtualDistrict>
@{
    ViewData["Title"] = "Кабінет Виборця";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title></title>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

</head>
<body>
    <br />
    <div><h1> Віртуальні Дільниці</h1></div>
    <div className="container">

        <div className="row">
            <div className="col-md-8">
                <h4><a asp-action="Create" asp-controller="District" class="badge badge-dark">Додати дільницю</a></h4>
                <table class="table table-hover">
                    <tr><td><h3>№</h3></td><td><h3>Назва</h3></td><td><h3>Центр</h3></td><td><h3>Адреса</h3></td><td></td><td></td></tr>
                    @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.VirtualCantonId</td>
                <td>@item.Adress</td>
                <td><a asp-action="Edite" asp-controller="District" asp-route-id="@item.Id"><span class="glyphicon glyphicon-edit"></span></a> </td>
                <td><a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>

}
                </table>

            </div>
            <div className="col-md-4">

            </div>

        </div>
    </div>
</body>
</html>
