@model IEnumerable<ElectionLand.Models.VirtualCanton>

@{
    ViewData["Title"] = "ShowCanton";
}

<br />
<div><h1> Віртуальні Округи</h1></div>
<div className="container">

    <div className="row">
        <div className="col-md-8">
            <table class="table table-hover">
                <tr><td><h3>№</h3></td><td><h3>Назва</h3></td><td><h3>Центр</h3></td><td><h3>Адреса</h3></td></tr>
                @foreach (var item in Model)
                {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Centre</td>
                <td>@item.Adress</td>
                <td><a asp-action="ShowUsersCanton" asp-controller="Home" asp-route-canton_id="@item.Id">виборці</a> </td>
                <td><a asp-action="ShowComplaints" asp-controller="Home" asp-route-canton_id="@item.Id">скарги</a> </td>
                <td><a asp-action="ShowAppeal" asp-controller="Home" asp-route-canton_id="@item.Id">звернення</a> </td>
            </tr>

                }
            </table>

        </div>
        <div className="col-md-4">

        </div>

    </div>
</div>